* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --primary-color: #00bcd4;
  --secondary-color: #222;
  --tertiary-color: #f0f0f0;
  --quaternary-color: #1e1e1e;
}

body {
  background: var(--quaternary-color);
  text-align: center;
  /* border: 1px solid red; */
}

.container {
  gap: 20px;
  padding-bottom: 50px;
}
.container h1 {
  color: var(--tertiary-color);
  font-size: 50px;
  padding-top: 20px;
}
ul {
  list-style: none;
}
li {
  margin: 20px 0;
}

li:last-child {
  margin-bottom: 50px;
}
a {
  color: var(--tertiary-color);
  text-decoration: none;
  font-size: 1.5rem;
  transition: transform 0.2s ease-out;
  display: inline-block;
}
a:hover {
  transform: scale(1.2);
  color: #00bcd4;
}
a:active {
  transform: scale(0.9);
  transition: 0.1s ease;
  color: gold;
}

::selection {
  background-color: #00bcd4;
  color: #222;
}
.mp-download {
  font-size: 0.9rem;
}
